@use '../abstract/variables';

main{
    >.top-news{
        >.title{
            font-family: variables.$title;
            color: variables.$bg-color;
            margin: 20px 0px 10px 0px;
            font-weight: bold;
        }
        background-color: variables.$footer-color;
        height: 500px;
        >.card-top{
            box-sizing: border-box;           
            background-color: variables.$bg-color;
            width: 85%;
            border-radius: 5px;
            margin:10px 0px 0px 0px;
            border:solid 1px variables.$footer-color;
            box-shadow: 1px 1px 18px 5px variables.$gold-color;
            padding: 3%;
            >.card-header{
                color:variables.$footer-color;
            }

            >.card-body{
                
                >.card-title{
                    text-decoration: underline;
                    font-family: variables.$title;
                    color:variables.$footer-color;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding: 0px 5px 5px 5px;
                    border-bottom: solid 2px variables.$bg-color;
                    >a{
                        text-decoration: none;
                        color: variables.$bg-color;
                    }
                }
                >.card-text{
                    color: variables.$footer-color;
                }
                >.btn{
                    background-color: variables.$nd-color;
                    font-family: variables.$main;
                    margin-right: 10px;
                    width: fit-content;
                
                >img{
                    width:30px;
                }
                >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
            }

            }
        }
        }
    }
