@use '../abstract/variables';

main{
    >.title{
        text-align: center;
            font-family: variables.$title;
            color: variables.$footer-color;
            margin: 20px 0px 10px 0px;
            font-weight: bold;
        }
    >.top-news{
        background-image: url(/tongue-technews/src/assets/img/sfondotop.webp);
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: variables.$footer-color;
        height: fit-content;
        scroll-behavior: smooth;
        
        
        >.carousel-container{
            // inizio set per carosello
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
            gap: 20px;
            align-items: center;
            

        >.card-top{
            height: fit-content;
            min-width: 300px;
            box-sizing: border-box;           
            background-color: variables.$bg-color;
            width: 85%;
            border-radius: 5px;
            margin:30px 0px 30px 0px;
            border:solid 1px variables.$footer-color;
            box-shadow: 1px 1px 18px 5px variables.$gold-color;
            padding: 3%;
            >.card-header{
                color:variables.$footer-color;
            }

            >.card-body{
                
                >.card-title{
                    text-decoration: underline;
                    font-family: variables.$title;
                    color:variables.$footer-color;
                    font-size: 1.3em;
                    font-weight: bold;
                    padding: 0px 5px 5px 5px;
                    border-bottom: solid 2px variables.$bg-color;
                    >a{
                        text-decoration: none;
                        color: variables.$footer-color;
                    }
                }
                >.card-text{
                    color: variables.$footer-color;
                }
                >.btn{
                    background-color: variables.$nd-color;
                    font-family: variables.$main;
                    margin-right: 10px;
                    width: fit-content;
                
                >img{
                    width:30px;
                    
                }
                >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
            }

            }
        }
        }
    }
}
@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
