@use '../abstract/variables';
*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding:0;
    background-color: variables.$bg-color;
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background:radial-gradient(circle at center,variables.$nd-color 1%, variables.$bg-color 70%);
    
}
.logo{
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius:  20px 20px 0px 0px;
     @media screen and (max-width: 1440px){
           width: 40%;
        }
     @media screen and (max-width: 1024px){
           width: 50%;
        }
     @media screen and (max-width: 768px){
           width: 60%;
        }
     @media screen and (max-width: 450px){
           width: 100%;
        }
    
}
.navbar{
    background-color: variables.$bg-color; 
    height: 60px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    >a{
        text-decoration: none;
        color: variables.$footer-color;
        font-weight: bold;
        font-family: variables.$title;
        border-bottom: solid 3px transparent;
        transition: all 0.4s ease-in-out;

        &.selected{
        border-bottom: solid 3px variables.$btn-color;
        text-decoration: none;
        color: variables.$footer-color;
        font-weight: bold;
        font-family: variables.$title;
        }
    }
}
main{
    
    >.news{
        max-width: 100%;
        margin-bottom: 20px;
        //inizio media query per le card
        @media screen and (max-width: 768px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 20px;
        }
        @media screen and (max-width: 1024px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 20px;
        }
        @media screen and (min-width: 1025px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            gap: 20px;
            }
        //fine media query per le card
        >.card{ 
            box-sizing: border-box;           
            background-color: variables.$footer-color;
            width: 85%;
            border-radius: 5px;
            margin:20px auto;
            border:solid 1px variables.$bg-color;
            box-shadow: 1px 1px 8px variables.$footer-color;
            >.card-header{    
                display: flex;
                justify-content: space-between;
                >#heartIcon{
                    width:40px;
                    height: 35px;
                    fill:none;
                    stroke: variables.$bg-color;
                    stroke-width: 1.5px;
                    transition: all 0.5s ease;
                    margin-left: auto; 
                    cursor: pointer;
                    
                    >.heart{
                    fill:none;
                    transition: all 0.5s ease;
                }
                >.active{
                    fill: red;
                    stroke: red;
                }
            }
            >.share{
                width:30px;
                cursor: pointer;
            }
        }
            >.card-body{
                
                >.card-title{
                    text-decoration: underline;
                    font-family: variables.$title;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding: 0px 5px 5px 5px;
                    border-bottom: solid 2px variables.$bg-color;
                    >a{
                        text-decoration: none;
                        color: variables.$bg-color;
                    }
                }               
                
                >.btn{
                    background-color: variables.$nd-color;
                    font-family: variables.$main;
                    margin-right: 10px;
                    width: fit-content;
                
                >img{
                    width:30px;
                }
                >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
                >a{
                    text-decoration: none;
                    color: variables.$footer-color;
                    >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                        }
                }
            }

            }
        }
     }
     >.container-load{
        display: flex;
        
        align-items: center;
        justify-content: center;
        text-align: center;
        
        >.load-more{
            background-color: variables.$nd-color;
            color: variables.$footer-color;
            font-family: variables.$main;
            font-size: 1.2em;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            margin:1px auto;
            border: none;
            box-shadow: 1px 1px 8px variables.$nd-color;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: variables.$btn-color;
                color: variables.$bg-color;
            }
        }

     }
 }
 .footer{
    background-color: variables.$footer-bg;
    height: 360px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: variables.$main;
    font-size: 1em;
    color: variables.$footer-color;
    >.footer-logo{
        
        width:150px;
        >img{
            width:100%;
            height:auto;
            text-align: center;
    }
 }
 >.container-span{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top:20px;
    >span{
        
        >a{
            text-decoration: none;
            color: variables.$footer-color;
        }
        &:hover{
            color: variables.$nd-color;
            cursor: pointer;
            text-decoration: underline;
        }
    }
 }
 }