@use '../abstract/variables';
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding:0;
    background-color: variables.$bg-color;
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
}
.logo{
    width: 100%;
    height: auto;
    
}
.navbar{
    background-color: variables.$bg-color; 
    height: 60px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    >a{
        text-decoration: none;
        color: variables.$footer-color;
        font-weight: bold;
        font-family: variables.$title;
        border-bottom: solid 3px transparent;
        transition: all 0.4s ease-in-out;

        &.selected{
        border-bottom: solid 3px variables.$btn-color;
        text-decoration: none;
        color: variables.$footer-color;
        font-weight: bold;
        font-family: variables.$title;
        }
    }
}
main{
    >.news{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        >.load-more{
            background-color: variables.$nd-color;
            color: variables.$footer-color;
            font-family: variables.$main;
            font-size: 1.2em;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            border: none;
            box-shadow: 1px 1px 8px variables.$nd-color;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: variables.$btn-color;
                color: variables.$bg-color;
            }
        }
        >.card{ 
            box-sizing: border-box;           
            background-color: variables.$footer-color;
            width: 85%;
            border-radius: 5px;
            margin:10px 0px 0px 0px;
            border:solid 1px variables.$bg-color;
            box-shadow: 1px 1px 8px variables.$btn-color;
            >.card-body{
                
                >.card-title{
                    text-decoration: underline;
                    font-family: variables.$title;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding: 0px 5px 5px 5px;
                    border-bottom: solid 2px variables.$bg-color;
                    >a{
                        text-decoration: none;
                        color: variables.$bg-color;
                    }
                }
                >.btn{
                    background-color: variables.$nd-color;
                    font-family: variables.$main;
                    margin-right: 10px;
                    width: fit-content;
                
                >img{
                    width:30px;
                }
                >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
            }

            }
        }
     }
 }
