* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #14252F;
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: radial-gradient(circle at center, #106996 1%, #14252F 70%);
}

.logo {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (max-width: 1440px) {
  .logo {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    width: 100%;
  }
}

.navbar {
  background-color: #14252F;
  height: 60px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar > a {
  text-decoration: none;
  color: #d2d9d9;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-bottom: solid 3px transparent;
  transition: all 0.4s ease-in-out;
}
.navbar > a.selected {
  border-bottom: solid 3px #6cf9f4;
  text-decoration: none;
  color: #d2d9d9;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

main > .news {
  max-width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  main > .news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  main > .news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
}
@media screen and (min-width: 1025px) {
  main > .news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
  }
}
main > .news > .card {
  box-sizing: border-box;
  background-color: #d2d9d9;
  width: 85%;
  border-radius: 5px;
  margin: 20px auto;
  border: solid 1px #14252F;
  box-shadow: 1px 1px 8px #d2d9d9;
}
main > .news > .card > .card-header {
  display: flex;
  justify-content: space-between;
}
main > .news > .card > .card-header > #heartIcon {
  width: 40px;
  height: 35px;
  fill: none;
  stroke: #14252F;
  stroke-width: 1.5px;
  transition: all 0.5s ease;
  margin-left: auto;
  cursor: pointer;
}
main > .news > .card > .card-header > #heartIcon > .heart {
  fill: none;
  transition: all 0.5s ease;
}
main > .news > .card > .card-header > #heartIcon > .active {
  fill: red;
  stroke: red;
}
main > .news > .card > .card-header > .share {
  width: 30px;
  cursor: pointer;
}
main > .news > .card > .card-body > .card-title {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 5px 5px 5px;
  border-bottom: solid 2px #14252F;
}
main > .news > .card > .card-body > .card-title > a {
  text-decoration: none;
  color: #14252F;
}
main > .news > .card > .card-body > .btn {
  background-color: #106996;
  font-family: "Inter", sans-serif;
  margin-right: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
main > .news > .card > .card-body > .btn > img {
  width: 30px;
}
main > .news > .card > .card-body > .btn > span {
  background-color: #6cf9f4;
  color: #14252F;
}
main > .news > .card > .card-body > .btn > a {
  text-decoration: none;
  color: #d2d9d9;
}
main > .news > .card > .card-body > .btn > a > span {
  background-color: #6cf9f4;
  color: #14252F;
}
main > .container-load {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > .container-load > .load-more {
  background-color: #106996;
  color: #d2d9d9;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin: 1px auto;
  border: none;
  box-shadow: 1px 1px 8px #106996;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main > .container-load > .load-more:hover {
  background-color: #6cf9f4;
  color: #14252F;
}

.footer {
  background-color: #111921;
  height: 360px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: #d2d9d9;
}
.footer > .footer-logo {
  width: 150px;
}
.footer > .footer-logo > img {
  width: 100%;
  height: auto;
  text-align: center;
}
.footer > .container-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.footer > .container-span > span > a {
  text-decoration: none;
  color: #d2d9d9;
}
.footer > .container-span > span:hover {
  color: #106996;
  cursor: pointer;
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */