@use '../abstract/variables';
main{
    >.search-news{
        margin-top: 10%;
        background-color: variables.$footer-color;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        >.container-search{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            height: 120px;
            >.title-search{
                font-family: variables.$title;
                color: variables.$bg-color;
            }
            >.input-search{
                width: 300px;
                height: 40px;
                border-radius: 5px;
                border: solid 1px variables.$bg-color;
                box-shadow: 1px 1px 8px variables.$bg-color;
                padding: 5px 10px;
                font-size: 16px;
                font-family: variables.$main;
                &:focus{
                    outline: none;
                    border: solid 2px variables.$btn-color;
                    box-shadow: 2px 2px 10px variables.$btn-color;
                }
            }
        }
        >.toast{
            margin-bottom: 20px;
        }


        >.btn-group{
            margin-bottom: 20px;
            
            >.btn-check:checked + .btn-outline{
                background-color: variables.$nd-color;
                color: variables.$footer-color;
            }
            >.btn-outline{
                font-family: variables.$main;
                color: variables.$bg-color;
                font-weight: bold;
                border: solid 2px variables.$bg-color;
                margin: 0px 5px 0px 5px;
                &:hover{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
            }
        }
        >.alert-search{
            position: fixed;
            top:10%;
            font-family: variables.$main;
            background-color: rgb(231, 141, 141);
            border: solid 2px rgba(255, 0, 0, 0.986);
            border-radius: 5px;
            padding: 10px 20px 10px 20px;
            font-size: 1.2rem;
            font-weight: bold;
            color: rgb(37, 18, 18);
            box-shadow: 1px 1px 8px red;
        }
        >.alert-search.hide{
            display: none;
        }
        >.container-card-search{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            // inizio media query per container card
            @media screen and (min-width: 1024px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 20px;
        }
            
        >.card-search{
            height: fit-content;
            min-width: 300px;
            box-sizing: border-box;           
            background-color: variables.$bg-color;
            width: 85%;
            border-radius: 5px;
            margin:30px auto 30px auto;
            border:solid 1px variables.$footer-color;
            box-shadow: 1px 2px 4px 3px variables.$bg-color;
            padding: 3%;
            >.card-header{
                color:variables.$footer-color;
                display: flex;
                justify-content: space-between;
                >#heartIcon{
                    width:40px;
                    height: 35px;
                    fill:none;
                    stroke: variables.$footer-color;
                    stroke-width: 1.5px;
                    margin-left: auto;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    
                    >.heart{
                    fill:none;
                    transition: all 0.5s ease;
                }
                >.active{
                    fill: red;
                    stroke: red;
                }
            }
                    >.share-news{
                    width:30px;
                    cursor: pointer;
                    }
                }

            >.card-body{
                
                >.card-title{
                    text-decoration: underline;
                    font-family: variables.$title;
                    color:variables.$footer-color;
                    font-size: 1.3em;
                    font-weight: bold;
                    padding: 0px 5px 5px 5px;
                    border-bottom: solid 2px variables.$bg-color;
                    >a{
                        text-decoration: none;
                        color: variables.$footer-color;
                    }
                }
                >.card-text{
                    color: variables.$footer-color;
                    word-wrap: break-word;
                }
                >.btn{
                    background-color: variables.$nd-color;
                    font-family: variables.$main;
                    margin-right: 10px;
                    width: fit-content;
                
                >img{
                    width:30px;
                    
                }
                >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
                >a{
                    text-decoration: none;
                    color: variables.$footer-color;
                    >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                        }
                }
            }

            }
        }
        
    }
    >.container-load-two{
        display: flex;
        align-items: center;
        justify-content: center;
        
        >.load-more-two{
            margin-bottom: 20px;
            background-color: variables.$nd-color;
            color: variables.$footer-color;
            font-family: variables.$main;
            font-size: 1.2em;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            border: none;
            box-shadow: 1px 1px 8px variables.$nd-color;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: variables.$btn-color;
                color: variables.$bg-color;
            }
        }

     }
}
}