@use '../abstract/variables';

main{
    >.title{
        text-align: center;
            font-family: variables.$title;
            color: variables.$footer-color;
            margin: 20px 0px 10px 0px;
            font-weight: bold;
        }
    >.top-news{
        background-image: url(../../assets/img/sfondotopc.webp);
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: variables.$footer-color;
        height: fit-content;
        padding-bottom: 50px;
        padding-top: 50px;
        scroll-behavior: smooth;
        
        
        >.carousel-container{
            // inizio set per carosello
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
            gap: 20px;
            align-items: center;
            

        >.card-top{
            height: fit-content;
            min-width: 300px;
            // inizio media query per card
            @media screen and (max-width: 574px){
    
                    min-width: 320px;
                
            }
            @media screen and (max-width: 768px){
    
                    min-width: 320px;
                
            }
            @media screen and (max-width: 1024px){
    
                    min-width: 350px;
                
            }
            @media screen and (min-width: 1025px){
    
                    min-width: 400px;
                
            }
            // fine media query per card
            box-sizing: border-box;           
            background-color: variables.$bg-color;
            width: 85%;
            border-radius: 5px;
            margin:30px 0px 30px 0px;
            border:solid 1px variables.$footer-color;
            box-shadow: 1px 1px 18px 5px variables.$btn-color;
            padding: 3%;
            >.card-header{
                color:variables.$footer-color;  
                display: flex;
                justify-content: space-between;
                >#heartIcon{
                    width:40px;
                    height: 35px;
                    fill:none;
                    stroke: variables.$footer-color;
                    stroke-width: 1.5px;
                    margin-left: auto;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    
                    >.heart{
                    fill:none;
                    transition: all 0.5s ease;
                }
                >.active{
                    fill: red;
                    stroke: red;
                }
            }

                >.share-top{
                width:30px;
                cursor: pointer;
            }
            }
            >.card-body{
                
                >.card-title{
                    text-decoration: underline;
                    font-family: variables.$title;
                    color:variables.$footer-color;
                    font-size: 1.3em;
                    @media screen and (min-width: 1025px){
    
                        font-size: 1.1rem;
                
                    }
                    font-weight: bold;
                    padding: 0px 5px 5px 5px;
                    border-bottom: solid 2px variables.$bg-color;
                    >a{
                        text-decoration: none;
                        color: variables.$footer-color;
                    }
                }
                >.card-text{
                    color: variables.$footer-color;
                    word-wrap: break-word;
                }
                >.btn{
                    background-color: variables.$nd-color;
                    font-family: variables.$main;
                    margin-right: 10px;
                    width: fit-content;
                
                >img{
                    width:30px;
                    
                }
                >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                }
                >a{
                    text-decoration: none;
                    color: variables.$footer-color;
                    >span{
                    background-color: variables.$btn-color;
                    color: variables.$bg-color;
                        }
                }

            }

            }
        }
        }
    }
}

