main > .title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #d2d9d9;
  margin: 20px 0px 10px 0px;
  font-weight: bold;
}
main > .top-news {
  background-image: url(../../assets/img/sfondotopc.webp);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #d2d9d9;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 50px;
  padding-top: 50px;
  scroll-behavior: smooth;
}
main > .top-news > .carousel-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 20px;
  align-items: center;
}
main > .top-news > .carousel-container > .card-top {
  height: -moz-fit-content;
  height: fit-content;
  min-width: 300px;
  box-sizing: border-box;
  background-color: #14252F;
  width: 85%;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
  border: solid 1px #d2d9d9;
  box-shadow: 1px 1px 18px 5px #6cf9f4;
  padding: 3%;
}
@media screen and (max-width: 574px) {
  main > .top-news > .carousel-container > .card-top {
    min-width: 320px;
  }
}
@media screen and (max-width: 768px) {
  main > .top-news > .carousel-container > .card-top {
    min-width: 320px;
  }
}
@media screen and (max-width: 1024px) {
  main > .top-news > .carousel-container > .card-top {
    min-width: 350px;
  }
}
@media screen and (min-width: 1025px) {
  main > .top-news > .carousel-container > .card-top {
    min-width: 400px;
  }
}
main > .top-news > .carousel-container > .card-top > .card-header {
  color: #d2d9d9;
  display: flex;
  justify-content: space-between;
}
main > .top-news > .carousel-container > .card-top > .card-header > #heartIcon {
  width: 40px;
  height: 35px;
  fill: none;
  stroke: #d2d9d9;
  stroke-width: 1.5px;
  margin-left: auto;
  transition: all 0.5s ease;
  cursor: pointer;
}
main > .top-news > .carousel-container > .card-top > .card-header > #heartIcon > .heart {
  fill: none;
  transition: all 0.5s ease;
}
main > .top-news > .carousel-container > .card-top > .card-header > #heartIcon > .active {
  fill: red;
  stroke: red;
}
main > .top-news > .carousel-container > .card-top > .card-header > .share-top {
  width: 30px;
  cursor: pointer;
}
main > .top-news > .carousel-container > .card-top > .card-body > .card-title {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  color: #d2d9d9;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0px 5px 5px 5px;
  border-bottom: solid 2px #14252F;
}
@media screen and (min-width: 1025px) {
  main > .top-news > .carousel-container > .card-top > .card-body > .card-title {
    font-size: 1.1rem;
  }
}
main > .top-news > .carousel-container > .card-top > .card-body > .card-title > a {
  text-decoration: none;
  color: #d2d9d9;
}
main > .top-news > .carousel-container > .card-top > .card-body > .card-text {
  color: #d2d9d9;
  word-wrap: break-word;
}
main > .top-news > .carousel-container > .card-top > .card-body > .btn {
  background-color: #106996;
  font-family: "Inter", sans-serif;
  margin-right: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
main > .top-news > .carousel-container > .card-top > .card-body > .btn > img {
  width: 30px;
}
main > .top-news > .carousel-container > .card-top > .card-body > .btn > span {
  background-color: #6cf9f4;
  color: #14252F;
}
main > .top-news > .carousel-container > .card-top > .card-body > .btn > a {
  text-decoration: none;
  color: #d2d9d9;
}
main > .top-news > .carousel-container > .card-top > .card-body > .btn > a > span {
  background-color: #6cf9f4;
  color: #14252F;
}/*# sourceMappingURL=topScore.css.map */