//variabili colore

$bg-color: #14252F;
$nd-color:#106996;
$footer-color:#d2d9d9;
$footer-bg:#111921;
$wh-color:#eff9fd;
$btn-color:#6cf9f4;
$gold-color:#c7bb3d;

//font

$title: 'Montserrat', sans-serif;
$main: 'Inter',sans-serif;